// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #eb8217;
$secondary: #609751;
$tertiary: #515151;
$accent: #eb8217;

$dark: #000;
$dark-page: #000;
$boxShadow: 0 3px 6px rgba(0, 0, 0, 0.16);
$textGray: #818d7e;
$lightGray: #9a9a9a;
$gray: #bcbcbc;
$borderGray: #d8d8d8;
$white: #ffffff;
$bgPrimary: #f1f1f1;
$neutral: #e0e1e2;
$positive: #55ab3e;
$negative: #cb1919;
$info: #31ccec;
$warning: #f2c037;
$transparent: transparent;
$modalBg: rgba(11, 8, 8, 0.56);

$mediaQueries: (
  "xxs": 479px,
  "xs": 768px,
  "sm": 991px,
  "md": 1199px,
  "lg": 1440px,
);
